altgraph==0.17.4
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
six==1.16.0
sqlite3py==2.0.5
tzdata==2024.2
